.button {
    text-decoration: none;
    background-color: var(--blue);
    padding: 1em 4em;
    border-radius: .2em;
    transition: all .2s;
}

.button:hover {
    background-color: var(--red);
    color: var(--dark);
}