@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --light: #DDDDDD;
  --dark: #222831;
  --blue: #30475E;
  --red: #F05454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: var(--light);
}

html {
  background-color: var(--dark);
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "sideMenu main";
}